@import 'fonts.less';

@width: 960px;

html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: "Whitney SSm A", "Whitney SSm B";
    // margin: 50px;
}

.container {
    // width: @width;
    margin: auto;
    padding: 10px;
    // margin-top: 50px;
}

.axis {
    .domain {
        fill: none;
    }
    path, line {
        fill: none;
        stroke: #000;
        shape-rendering: crispEdges;
    }
    text {
        font-size: 10px;
    }
}

#vis0 {
    background: red;
    position: relative;
    width: 100%;
    padding-bottom: 50%; //to fix w <-> h proportion
    // height: 100%; //to fix height to the container (the window for example)
}
svg {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
}

svg {
    background: blue;
    rect {
        shape-rendering: crispEdges;
    }
}