@import 'fonts.less';
@import 'base.less';

@width: 960px;
@half-gutter: 20px;

@baseFontSize: 22px;
@lineMult: 1.5;
@baseLineHeight: round(@baseFontSize * @lineMult);
@sizeMult: 1.5;

body {
    font-family: "Whitney A", "Whitney B";
    // margin: 50px 0;
    // background: lightgray;
}