@import 'fonts.less';
@import 'base.less';
@import 'typography.less';


@width: 700px;
@half-gutter: 20px;

@baseFontSize: 16px;
@lineMult: 1.5;
@baseLineHeight: round(@baseFontSize * @lineMult);
@sizeMult: 1.5;

body {
    font-family: "Whitney A", "Whitney B";
    // margin-bottom: 500px;
    // background: lightgray;
}

.ctn-full {
    .ctn();
    min-width: 1000px;
    width: 100%;
    padding: 0 40px;
    // margin-bottom: 80px;
    // max-width: 1200px;
}
.ctn-vis {
    width: 560px/2;
    float: left;
    margin-left: 0px;
    // padding: 10px;
    padding-left: 0px;
    padding-top: 0px;
}

/////////

*[ng-controller^='mainCtrl'] {
    .wrp-vis {
    }
    rect.hoverTarget {
        opacity: 0;
    }
    path.leftArea {
        fill: url(#diagonalHatch2);
        stroke: orange;
    }
    path.rightArea {
        fill: url(#diagonalHatch);
        stroke: steelblue;
    }
}

.ng-hide-add, .ng-hide-remove {
    transition:0.2s linear all;
    display:block!important;
}
.ng-hide-remove {
    opacity: 0;
}
.ng-hide-add.ng-hide-add-active { 
    opacity: 0;
}
.ng-hide-remove.ng-hide-remove-active { 
    opacity: 1;
}