<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="icon" type="image/png" href="img/favicon.png">
    <title>The Urban Village</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link type="text/css" rel="stylesheet" href="style.css">
    <script type="text/javascript" src="libs.js"></script>
  </head>
  <body ng-app="app" ng-controller="mainCtrl as ctrl">
    <div ng-controller="mainVisCtrl as ctrl">
      <div style="" class="ctn-full">
        <div style="padding-top: 2.5rem; padding-bottom: 2.5rem;" class="row header">
          <div style="" class="col title">
            <h1>The Urban Village</h1>
            <div class="lead">Or, the scaling of human interactions with city size</div>
          </div>
        </div>
      </div>
      <!-- MAIN VIS-->
      <div style="background: hsl(0,0%,88%); border-top: 2px solid hsl(0,0%,80%);" class="ctn-full">
        <div ng-style="wrpStyle()" class="wrp-vis">
          <svg vbox="0 0 {{svgWidth}} {{svgHeight}}" preserveAspectRatio="xMidYMid meet" ng-if="data">
            <defs>
              <pattern id="diagonalHatch" patternUnits="userSpaceOnUse" width="4" height="4">
                <path d="M-1,1 l2,-2 M0,4 l4,-4 M3,5 l2,-2" stroke="steelblue"></path>
              </pattern>
              <pattern id="diagonalHatch2" patternUnits="userSpaceOnUse" width="4" height="4">
                <path d="M-1,1 l2,-2 M0,4 l4,-4 M3,5 l2,-2" stroke="orange"></path>
              </pattern>
            </defs>
            <g ng-attr-transform="translate({{margin.l}}, {{margin.t}})" class="main">
              <!-- base and labels-->
              <path ng-attr-d="{{area(data)}}" style="fill: white" class="area"></path>
              <path ng-attr-d="{{line(meanLineData)}}" style="fill: none; stroke: lightgray; stroke-dasharray: 5,5;" class="mean"></path>
              <g class="cityTicks">
                <circle ng-repeat="city in data" ng-attr-cx="{{x(city.pop)}}" ng-attr-cy="{{y(city.meanDegree)}}" r="2" style="fill: lightgray;"></circle>
              </g>
              <text ng-attr-transform="translate({{width-165}}, {{height/2+28}})" style="fill: lightgray;">contacts average</text>
              <text ng-attr-transform="translate({{width-165}}, {{20}})" style="fill: lightgray;">contacts max</text>
              <!-- population axis-->
              <g transform="translate(0,-18)" class="axis xAxis">
                <path ng-attr-d="M0,3 v6 H{{width}} v-6" style="stroke: green"></path>
                <g ng-repeat="tick in pData.xAxis" ng-attr-transform="translate({{x(tick.value)}}, 0)" class="tick">
                  <path d="M0,3 v6" style="stroke: green;"></path>
                  <text ng-show="ctrl.overlaping(x(tick.value), x(hoverPop), model.popTickSize[0]*.8)" style="fill: green; text-anchor: middle">{{tick.text}}</text>
                </g>
                <g ng-attr-transform="translate({{x(hoverPop)}}, 0)" class="hoverTick">
                  <path d="M0,3 v6" style="stroke: green; stroke-width: 2"></path>
                  <text getsize ng-model="model.popTickSize" y="-2" style="fill: green; font-weight: 600; text-anchor: middle">pop: {{hoverPop | number:0}}</text>
                  <text y="-20" style="fill: green; font-weight: 600; text-anchor: middle">{{hoverName}}</text>
                </g>
              </g>
              <!-- cities-->
              <g class="cities">
                <g ng-repeat="city in citiesData" ng-attr-transform="translate({{x(city.pop)}},0)" ng-show="ctrl.overlaping(x(city.pop), x(hoverPop), cityWidth*.88)" class="city">
                  <!-- amount and cluster areas-->
                  <path ng-attr-d="{{areaClust(city.degrees)}}" class="leftArea"></path>
                  <path ng-attr-d="{{areaAmount(city.degrees)}}" class="rightArea"></path>
                  <!-- Degree lines-->
                  <g ng-if="mouse" ng-attr-transform="translate(0, {{y(hoverDegree)}})" class="hoverTick">
                    <!-- clust hover line-->
                    <path ng-if="city.hoverDegree" ng-attr-d="M0,0 h{{xClust(city.hoverDegree.clustPerc)}}" style="stroke: orange"></path>
                    <!-- amount hover line-->
                    <path ng-if="city.hoverDegree" ng-attr-d="M0,0 h{{xAmount(city.hoverDegree.amountPerc)}}" style="stroke: steelblue"></path>
                  </g>
                  <!-- Bottom Axis-->
                  <g ng-attr-transform="translate(0,{{height+10}})" class="bottomAxis">
                    <text y="18" style="text-anchor: middle; fill: gray">0</text>
                    <!-- clust axis-->
                    <path ng-attr-d="M0,6 v-6 h{{cityWidth*.35}} v6" style="fill: none; stroke: orange"></path>
                    <text ng-show="ctrl.overlaping(xClust(50), xClust(city.hoverDegree.clustPerc), 25)" ng-attr-transform="translate({{xClust(50)}},0)" y="18" style="text-anchor: middle; fill: orange;">50%</text>
                    <g ng-if="city.hoverDegree" ng-attr-transform="translate({{xClust(city.hoverDegree.clustPerc)}},0)" class="hoverClustTick">
                      <path d="M0,0 v6" style="stroke: orange; stroke-width:2;"></path>
                      <text ng-show="ctrl.overlaping(xClust(city.hoverDegree.clustPerc), 0.1, 12)" y="18" style="text-anchor: middle; fill: orange">{{city.hoverDegree.clustPerc | number:0}}%</text>
                    </g>
                    <!-- amount axis-->
                    <path ng-attr-d="M0,6 v-6 h{{-cityWidth*.35}} v6" style="fill: none; stroke: steelblue;"></path>
                    <text ng-show="ctrl.overlaping(xAmount(20), xAmount(city.hoverDegree.amountPerc), 25)" ng-attr-transform="translate({{xAmount(20)}},0)" y="18" style="text-anchor: middle; fill: steelblue;">20%</text>
                    <g ng-if="city.hoverDegree" ng-attr-transform="translate({{xAmount(city.hoverDegree.amountPerc)}},0)" class="hoverAmountTick">
                      <path d="M0,0 v6" style="stroke: steelblue; stroke-width: 2;"></path>
                      <text ng-show="ctrl.overlaping(xAmount(city.hoverDegree.amountPerc), 0.1, 10)" y="18" style="text-anchor: middle; fill: steelblue;">{{city.hoverDegree.amountPerc | number:0}}%</text>
                    </g>
                  </g>
                </g>
              </g>
              <!-- hover city-->
              <g ng-if="city" ng-attr-transform="translate({{x(city.pop)}},0)" class="city hoverCity">
                <!-- amount and cluster areas-->
                <path ng-attr-d="{{areaClust(city.degrees)}}" class="leftArea"></path>
                <path ng-attr-d="{{areaAmount(city.degrees)}}" class="rightArea"></path>
                <!-- Degree lines-->
                <g ng-if="mouse" ng-attr-transform="translate(0, {{y(hoverDegree)}})" class="hoverTick">
                  <!-- clust hover line-->
                  <path ng-if="city.hoverDegree" ng-attr-d="M0,0 h{{xClust(city.hoverDegree.clustPerc)}}" style="stroke: orange"></path>
                  <!-- amount hover line-->
                  <path ng-if="city.hoverDegree" ng-attr-d="M0,0 h{{xAmount(city.hoverDegree.amountPerc)}}" style="stroke: steelblue"></path>
                </g>
                <!-- Bottom Axis-->
                <g ng-attr-transform="translate(0,{{height+10}})" class="bottomAxis">
                  <text y="18" style="text-anchor: middle; fill: gray">0</text>
                  <!-- clust axis-->
                  <path ng-attr-d="M0,6 v-6 h{{cityWidth*.35}} v6" style="fill: none; stroke: orange"></path>
                  <text ng-show="ctrl.overlaping(xClust(50), xClust(city.hoverDegree.clustPerc), 25)" ng-attr-transform="translate({{xClust(50)}},0)" y="18" style="text-anchor: middle; fill: orange;">50%</text>
                  <g ng-if="city.hoverDegree" ng-attr-transform="translate({{xClust(city.hoverDegree.clustPerc)}},0)" class="hoverClustTick">
                    <path d="M0,0 v6" style="stroke: orange; stroke-width:2;"></path>
                    <text ng-show="ctrl.overlaping(xClust(city.hoverDegree.clustPerc), 0.1, 12)" y="18" style="text-anchor: middle; fill: orange">{{city.hoverDegree.clustPerc | number:0}}%</text>
                  </g>
                  <!-- amount axis-->
                  <path ng-attr-d="M0,6 v-6 h{{-cityWidth*.35}} v6" style="fill: none; stroke: steelblue;"></path>
                  <text ng-show="ctrl.overlaping(xAmount(20), xAmount(city.hoverDegree.amountPerc), 25)" ng-attr-transform="translate({{xAmount(20)}},0)" y="18" style="text-anchor: middle; fill: steelblue;">20%</text>
                  <g ng-if="city.hoverDegree" ng-attr-transform="translate({{xAmount(city.hoverDegree.amountPerc)}},0)" class="hoverAmountTick">
                    <path d="M0,0 v6" style="stroke: steelblue; stroke-width: 2;"></path>
                    <text ng-show="ctrl.overlaping(xAmount(city.hoverDegree.amountPerc), 0.1, 10)" y="18" style="text-anchor: middle; fill: steelblue;">{{city.hoverDegree.amountPerc | number:0}}%</text>
                  </g>
                </g>
                <!-- degree axis-->
                <g class="axis yAxis">
                  <g ng-repeat="tick in y.ticks(10)" ng-attr-transform="translate(0, {{y(tick)}})" ng-show="ctrl.overlaping(y(tick), y(hoverDegree), model.degreeTickSize[1]+3)" class="tick">
                    <path d="M-3,0 h6" style="stroke: black"></path>
                    <text x="9" ng-attr-y="{{ tick == 1 ? -6 : 0}}" dy=".32em" style="text-anchor: start">{{x.tickFormat(6, ',.1s')(tick)}}</text>
                  </g>
                  <!-- hover tick and text-->
                </g>
                <g ng-if="mouse" ng-attr-transform="translate(0, {{y(hoverDegree)}})" class="hoverTick">
                  <path d="M-3,0 h6" stroke="black" stroke-width="2"></path>
                  <text getsize ng-model="model.degreeTickSize" ng-attr-y="{{y(hoverDegree) &gt; 20 ? -12 : 12}}" dy=".32em" style="text-anchor: middle; font-weight: 600;">{{hoverDegree | number:0}} contacts</text>
                </g>
              </g>
              <!-- hover target-->
              <rect ng-mousemove="ctrl.mousemove($event)" ng-mouseleave="ctrl.mouseleave()" ng-attr-x="0" ng-attr-width="{{width}}" ng-attr-height="{{height}}" style="opacity: 0;" class="hoverTarget"></rect>
            </g>
          </svg>
        </div>
      </div>
      <div style="padding-top: 1.5rem; padding-bottom: 1rem; background: hsl(0,0%,94%); border-bottom: 2px solid hsl(0,0%,80%); border-top: 2px solid hsl(0,0%,70%); opacity: 0.8; margin-bottom: 0rem;" class="ctn-full">
        <div class="row how-to-read">
          <div style="width: {{100/4}}%" class="col">
            <h4>How to explore the data</h4>
            <p>Cities<img src="img/city.svg">are ordered by <span style="color: green; font-weight: 600;">population size </span><img src="img/popAxis.svg" style="margin-left: 4px;"></p>
          </div>
          <div style="width: {{100/4}}%; padding-top: 5px;" class="col">
            <p>People in the city are grouped according to the number of <span style="font-weight: 600;">phone contacts </span><img src="img/degreeAxis.svg" style="margin-left: -2px;">they have. <br></p>
          </div>
          <div style="width: {{100/4}}%; padding-top: 5px;" class="col">
            <p>The <span style="color: steelblue; font-weight: 600;">amount of people </span><img src="img/amountAxis.svg" style="margin-left: 0px;">in the city with a certain number of contacts is displayed on the left.</p>
          </div>
          <div style="width: {{100/4}}%; padding-top: 5px;" class="col">
            <p>The probability that two of those <span style="color: orange; font-weight: 600;">contacts know each other </span><img src="img/clustAxis.svg" style="margin-left: 0px;">is on the right.</p>
          </div>
        </div>
      </div>
      <div style="font-size:.75rem; margin-top:.3rem; text-align:center; color:hsl(0,0%,40%); font-style: italic;" class="ctn">Graph showing data from 15 months of telecommunication in cities of Portugal. <span style="text-style:none;">† ‡</span></div>
    </div>
    <div style="padding-top: 2.5rem; width: 900px;" class="ctn">
      <!-- DESCRIPTION-->
      <div style="padding: 0 0px;" class="col-center">
        <p>Do you thrive within the crowds of a large metropolis or do you prefer the close community spirit of village life? Analyzing mobile communication data reveals <b>how a person’s social network changes when moving from a small town into a big city. </b>A team of researchers from both the MIT Senseable City Lab and the Santa Fe Institute worked with Orange Labs, British Telecom and Raschke Software Engineering to study how cities affect our social relationships.</p>
        <div style="clear:both; height:1rem;"></div>
        <figure style="width: 48%; float: left; margin: 15px; margin-top: 8px; margin-left: 0px; margin-right: 20px; margin-bottom: 20px;">
          <div style="background: hsl(0,0%,90%);">
            <div ng-controller="cumulativeCtrl as ctrl" ng-style="wrpStyle()" class="wrp-vis">
              <svg vbox="0 0 {{svgWidth}} {{svgHeight}}" preserveAspectRatio="xMidYMid meet" ng-if="data">
                <g ng-attr-transform="translate({{margin.l}}, {{margin.t}})" class="main">
                  <!-- lines-->
                  <path ng-attr-d="M{{x(pData.line1.x0)}},{{y(pData.line1.y0)}} L{{x(pData.line1.x1)}},{{y(pData.line1.y1)}}" transform="translate(0,-29)" style="stroke: gray; stroke-dashArray: 5,5; stroke-width: 2;"></path>
                  <text x="270" y="90" transform="translate(0,-17)" style="fill: gray; font-weight: 600;">linear (β=1)</text>
                  <path d="M265,86, h-17" transform="translate(0,-17)" style="stroke: gray; "></path>
                  <path ng-attr-d="M{{x(pData.line2.x0)}},{{y(pData.line2.y0)}} L{{x(pData.line2.x1)}},{{y(pData.line2.y1)}}" transform="translate(0,-29)" style="stroke: black; stroke-dashArray: 5,5; stroke-width: 2;"></path>
                  <text x="225" y="60" transform="translate(0,-17)" style="fill: black; font-weight: 600; text-anchor: end;">Super-linear (β=1.12)</text>
                  <path d="M230,56, h22" transform="translate(0,-17)" style="stroke: black;"></path>
                  <text x="70" y="180" transform="translate(0,-30)" style="fill: gray; text-anchor: middle;">city</text>
                  <path d="M70,185, v22" transform="translate(0,-30)" style="stroke: gray;"></path>
                  <g transform="translate(0,-5)" class="axis xAxis">
                    <path ng-attr-d="M0,-6 v6 H{{width}} v-6" style="stroke: green"></path>
                    <g ng-repeat="tick in pData.xAxis" ng-attr-transform="translate({{x(tick.value)}}, 0)" class="tick">
                      <path d="M0,0 v-6" style="stroke: green;"></path>
                      <text y="-12" style="fill: green; text-anchor: middle">{{tick.text}}</text>
                    </g>
                  </g>
                  <text x="20" y="15" ng-attr-transform="translate({{width}},{{height}}) rotate(-90)" style="text-anchor: start">Sum of contacts</text>
                  <g transform="translate(-5,0)" class="axis xAxis">
                    <path ng-attr-d="M-6,0 h6 V{{height}} h-6" style="stroke: black"></path>
                    <g ng-repeat="tick in pData.yAxis" ng-attr-transform="translate(0, {{y(tick.value)}})" class="tick">
                      <path d="M0,0 h-6" style="stroke: black;"></path>
                      <text x="-12" dy=".35em" style="fill: black; text-anchor: end">{{tick.text}}</text>
                    </g>
                  </g>
                  <text ng-attr-transform="translate({{width}},{{height}})" y="15" x="-20" style="fill: green; text-anchor: end">City population</text>
                  <g class="cities">
                    <circle ng-repeat="city in data" r="3" ng-attr-cx="{{x(city.pop)}}" ng-attr-cy="{{y(city.scaledCumulativeDegree)}}" opacity="0.5"></circle>
                  </g>
                </g>
              </svg>
            </div>
          </div>
          <figcaption>Graph showing the difference between a linear scaling relation and a superlinear one. ‡</figcaption>
        </figure>
        <p>Human interaction networks can be inferred from billions of anonymized mobile phone records. This study, focusing on Portugal and the UK, reveals a fundamental pattern: our social connections scale with city size. People who life in a larger town make more calls and call a larger number of different people. The scaling of this relation is 'superlinear,’ meaning that on average, if the size of a town doubles, the sum of phone contacts in the city will more than double – in a mathematically predictable way.</p>
        <div style="clear:both; height:1rem;"></div>
        <figure style="width: 48%; float: right; margin: 15px; margin-top: 8px; margin-right: 0px; margin-left: 20px;">
          <div style="background: hsl(0,0%,90%);">
            <div ng-controller="coefCtrl as ctrl" ng-style="wrpStyle()" class="wrp-vis">
              <svg vbox="0 0 {{svgWidth}} {{svgHeight}}" preserveAspectRatio="xMidYMid meet" ng-if="data">
                <g ng-attr-transform="translate({{margin.l}}, {{margin.t}})" class="main">
                  <!-- lines-->
                  <text x="72" y="130" style="fill: gray; text-anchor: middle;">city</text>
                  <path d="M72,135, v22" style="stroke: gray;"></path>
                  <path ng-attr-d="M-5 {{y(25)}}, h{{width+5}}" style="stroke: gray; stroke-dasharray: 5,5; stroke-width:2;"></path>
                  <g transform="translate(0,-5)" class="axis xAxis">
                    <path ng-attr-d="M0,-6 v6 H{{width}} v-6" style="stroke: green"></path>
                    <g ng-repeat="tick in pData.xAxis" ng-attr-transform="translate({{x(tick.value)}}, 0)" class="tick">
                      <path d="M0,0 v-6" style="stroke: green;"></path>
                      <text y="-12" style="fill: green; text-anchor: middle">{{tick.text}}</text>
                    </g>
                  </g>
                  <text x="20" y="15" ng-attr-transform="translate({{width}},{{height}}) rotate(-90)" style="text-anchor: start; fill: orange;">Cluster coefficient</text>
                  <g transform="translate(-5,0)" class="axis yAxis">
                    <path ng-attr-d="M-6,0 h6 V{{height}} h-6" style="stroke: orange"></path>
                    <g ng-repeat="tick in pData.yAxis" ng-attr-transform="translate(0, {{y(tick.value)}})" class="tick">
                      <path d="M0,0 h-6" style="stroke: orange;"></path>
                      <text x="-8" dy=".35em" style="fill: orange; text-anchor: end">{{tick.text}}</text>
                    </g>
                  </g>
                  <text ng-attr-transform="translate({{width}},{{height}})" y="15" x="-20" style="fill: green; text-anchor: end">City population</text>
                  <g class="cities">
                    <circle ng-repeat="city in data" r="3" ng-attr-cx="{{x(city.pop)}}" ng-attr-cy="{{y(city.avgClustCoeff)}}" opacity="0.5"></circle>
                  </g>
                </g>
              </svg>
            </div>
          </div>
          <figcaption>The chance that two phone contacts from one person know each other is not affected by city size. ‡</figcaption>
        </figure>
        <p>Surprisingly, however, group clustering (the odds that your friends mutually know one another) does not change with city size. It seems that even in large cities we tend to build tightly knit communities, or ‘villages,’ around ourselves. There is an important difference, though: if in a real village our connections might simply be defined by proximity, in a large city we can elect a community based on any number of factors, from affinity to interest to sexual preference.</p>
        <div style="clear:both; height:1rem;"></div>
        <p>The findings of this research help elucidate the role of cities as accelerators of human interactions, and the effectiveness of urban social space in the diffusion of ideas and information. Eventually, they can help us understand a broader spectrum of social phenomena, from crime to the spread of diseases.</p>
        <p>For more information, <a href="img/manuscript.pdf">see the published paper</a>.<br>
          You can also download the <a href="img/pressRelease.pdf">press release</a> and the <a href="img/pressVisualMaterial.zip">visual material</a>.<br>
          The project was developed as part of Ericsson’s “Signature of Humanity” project.
        </p>
      </div>
      <!-- FOOTER-->
      <div style="padding-top: 2.8rem;" class="row footer">
        <div style="width: {{100/4}}%;" class="col">
          <h5>Contact</h5>
          <p class="small">For more information, contact: <a href="mailto:senseable-contacts@mit.edu">senseable-contacts@mit.edu</a></p>
        </div>
        <div style="width: {{100/4}}%;" class="col">
          <h5>Study Authors</h5>
          <p class="small"><a href="http://web.mit.edu/schlmark/www/">Markus Schläpfer <br></a><a href="http://www.sebastian-grauwin.com/">Sebastian Grauwin <br></a>Carlo Ratti - Director</p>
          <h5>Data Visualization</h5>
          <p class="small"><a href="http://luiscarli.com">Luis Carli</a></p>
        </div>
        <div style="width: {{100/4}}%;" class="col">
          <h5>Collaborators</h5>
          <p class="small">
            Luis M. A. Bettencourt <br>
            Mathias Raschke <br>
            Rob Claxton <br>
            Zbigniew Smoreda <br>
            Geoffrey B. West <br>
            
          </p>
        </div>
        <div style="width: {{100/4}}%;" class="col"><img src="img/credits.png"><img src="img/ericsson.png" style="width: 50px; margin-top: 15px;"></div>
      </div>
      <p style="padding-bottom:0; font-size:.7rem;">† In this graph outliers are not considered to better show the increase in the average number of contacts.</p>
      <p style="padding-bottom:1.5rem; font-size:.7rem;">‡ The graph only shows data from cities in Portugal.</p>
    </div>
    <script type="text/javascript" src="bundle.js"></script>
  </body>
</html>