div(ng-controller='mainVisCtrl as ctrl')
    .ctn-full(style = '')
        .row.header(style = 'padding-top: 3rem; padding-bottom: 2rem;')
            .col.title(style = 'width: 41%;')
                h1 Phone contacts on Portugal
                .lead 15 months of telecommunication data
            .col.labels(style = 'width: 59%; float: right;'): .row(style = 'height: 110px;')
                .col(style = 'width: {{100/4}}%; color: green;')
                    h3 {{hoverPop || 0}}
                    p Population of the selected city
                .col(style = 'width: {{100/4}}%; color: black;')
                    h3 {{hoverDegree || 0}} 
                    p Phone contacts, people that called each other
                .col(style = 'width: {{100/4}}%; color: steelblue;')
                    h3(ng-if = 'city.hoverDegree.amountPerc >= 0.1') {{city.hoverDegree.amountPerc || 0 | number:1}}%
                    h3(ng-if = 'city.hoverDegree.amountPerc < 0.1') ~0.1%
                    h3(ng-if = '!city.hoverDegree.amountPerc') 0.0%
                    p People in the selected city with {{hoverDegree}} contacts
                .col(
                        ng-if = 'hoverDegree > 1'
                        style = 'width: {{100/4}}%; color: orange;'
                    )
                    h3 {{city.hoverDegree.clustPerc || 0 | number:1}}%
                    p Chance that each two of the {{hoverDegree}} contacts know each other
                .col(
                        ng-if = 'hoverDegree == 1'
                        style = 'width: {{100/4}}%; color: orange;'
                    )
                    h3 0%
                    p Probability that two contacts know each other


    .ctn-full(style = 'background: hsl(0,0%,90%);'): .wrp-vis(
        ng-style = 'wrpStyle()' 
    )
        svg(
                vbox = '0 0 {{svgWidth}} {{svgHeight}}'
                preserveAspectRatio = 'xMidYMid meet' 
                ng-if = 'data'
            )
            defs
                pattern(id="diagonalHatch" patternUnits="userSpaceOnUse" width="4" height="4")
                    path(d="M-1,1 l2,-2 M0,4 l4,-4 M3,5 l2,-2" stroke='steelblue')
                pattern(id="diagonalHatch2" patternUnits="userSpaceOnUse" width="4" height="4")
                    path(d="M-1,1 l2,-2 M0,4 l4,-4 M3,5 l2,-2" stroke='orange')
            g.main(ng-attr-transform = 'translate({{margin.l}}, {{margin.t}})')
                include vis-gMain

    .ctn-full(style = 'padding-top: 1.5rem; padding-bottom: 1rem; background: hsl(0,0%,94%); border-top: 2px solid hsl(0,0%,80%); opacity: 0.8; margin-bottom: 1.5rem;')
        .row.how-to-read
            .col(style = 'width: {{100/4}}%')
                h4 How to read the graph
                p
                    | Cities
                    img(src='img/city.svg')
                    | are ordered by 
                    span(style='color: green; font-weight: 600;') population size 
                    img(src='img/popAxis.svg' style='margin-left: 4px;')
            .col(style = 'width: {{100/4}}%')
                p
                    | People in the city are grouped according to the number of 
                    span(style='font-weight: 600;') phone contacts 
                    img(src='img/degreeAxis.svg' style='margin-left: -2px;')
                    | they have. <br>
            .col(style = 'width: {{100/4}}%')
                p
                    | The 
                    span(style='color: steelblue; font-weight: 600;') amount of people 
                    img(src='img/amountAxis.svg' style='margin-left: 0px;')
                    | in the city with a certain number of contacts is displayed on the left.
            .col(style = 'width: {{100/4}}%')
                p
                    | The probability that two of those 
                    span(style='color: orange; font-weight: 600;') contacts know each other 
                    img(src='img/clustAxis.svg' style='margin-left: 0px;')
                    | is on the right.
.ctn(style = 'padding-top: 2rem; width: 1000px;')
    //- hr
    h3 Description
    .row
        .col(style = 'width: {{100/2}}%;')
            p On average, inhabitants of larger cities earn more than those of smaller ones. They also file more patents and are at greater risk to contract contagious diseases. In other terms, almost all socio- economic quantities increase superlinearly with city size with a well defined scaling exponent β. In this paper we show that this perva- sive regularity could be explained by changes in the structure of the network of human interactions. By analyzing billions of anonymized phone call records from two European countries, we find that cities affect social networks in different ways.
        .col(style = 'width: {{100/2}}%;')
            p On the one hand, the total number of social contacts, the total amount of time spent on the phone and the total number of calls scale superlinearly with city size with the same exponent β. On the other, there are surprising invari- ant quantities: the average communication intensity between each pair of persons, and the probability that an individual’s contacts are also connected with each other do not change with city size. The latter is particularly noteworthy, as it indicates that we tend to form 
    //- hr
    .row.footer(style='padding-top: 2.8rem;')
        .col(style = 'width: {{100/4}}%;')
            h5 Press Material
            p.small
                | Download press release <br>
                | Download visual material <br>
                | Download Hi-res video <br>
                | Download Hi-res video <br>
                | See MIT press release <br>
            p.small For more information, contact: senseable-contacts@mit.edu

        .col(style = 'width: {{100/4}}%;')
            h5 Paper Authors
            p.small.
                Markus Schlapfer <br>
                Lúıs M. A. Bettencourt <br>
                Mathias Raschke <br>
                Sebastian Grauwin <br>
                Rob Claxton <br>
                Zbigniew Smoreda <br>
                Geoffrey B. West <br>
                Carlo Ratti

        .col(style = 'width: {{100/4}}%;')
            h5 Data Visualization
            p.small Luis Carli

        .col(style = 'width: {{100/4}}%;')
            img(src='img/credits.png')
