div(ng-controller='mainVisCtrl as ctrl')
    .ctn-full(style = '')
        .row.header(style = 'padding-top: 2.5rem; padding-bottom: 2.5rem;')
            .col.title(style = '')
                h1 Scaling of Phone Contacts
                .lead Exploration and analysis of 15 months of telecommunication data from Portugal

        //- h3 Data Exploration

    // MAIN VIS

    .ctn-full(style = 'background: hsl(0,0%,88%); border-top: 2px solid hsl(0,0%,80%);')
        .wrp-vis(
            ng-style = 'wrpStyle()' 
        )
            svg(
                    vbox = '0 0 {{svgWidth}} {{svgHeight}}'
                    preserveAspectRatio = 'xMidYMid meet' 
                    ng-if = 'data'
                )
                defs
                    pattern(id="diagonalHatch" patternUnits="userSpaceOnUse" width="4" height="4")
                        path(d="M-1,1 l2,-2 M0,4 l4,-4 M3,5 l2,-2" stroke='steelblue')
                    pattern(id="diagonalHatch2" patternUnits="userSpaceOnUse" width="4" height="4")
                        path(d="M-1,1 l2,-2 M0,4 l4,-4 M3,5 l2,-2" stroke='orange')
                g.main(ng-attr-transform = 'translate({{margin.l}}, {{margin.t}})')
                    include vis-gMain
        //- div(style = 'font-size:.7rem; text-align:center') *For this graph some outliers have been taken out to better show the increase in the average number of contacts.
    .ctn-full(style = 'padding-top: 1.5rem; padding-bottom: 1rem; background: hsl(0,0%,94%); border-bottom: 2px solid hsl(0,0%,80%); border-top: 2px solid hsl(0,0%,70%); opacity: 0.8; margin-bottom: 0rem;')
        .row.how-to-read
            .col(style = 'width: {{100/4}}%')
                h4 How to explore the data
                p
                    | Cities
                    img(src='img/city.svg')
                    | are ordered by 
                    span(style='color: green; font-weight: 600;') population size 
                    img(src='img/popAxis.svg' style='margin-left: 4px;')
            .col(style = 'width: {{100/4}}%; padding-top: 5px;')
                p
                    | People in the city are grouped according to the number of 
                    span(style='font-weight: 600;') phone contacts 
                    img(src='img/degreeAxis.svg' style='margin-left: -2px;')
                    | they have. <br>
            .col(style = 'width: {{100/4}}%; padding-top: 5px;')
                p
                    | The 
                    span(style='color: steelblue; font-weight: 600;') amount of people 
                    img(src='img/amountAxis.svg' style='margin-left: 0px;')
                    | in the city with a certain number of contacts is displayed on the left.
            .col(style = 'width: {{100/4}}%; padding-top: 5px;')
                p
                    | The probability that two of those 
                    span(style='color: orange; font-weight: 600;') contacts know each other 
                    img(src='img/clustAxis.svg' style='margin-left: 0px;')
                    | is on the right.
    .ctn(style = 'font-size:.65rem; margin-top:.3rem; text-align:center; color:hsl(0,0%,50%);') *For this graph some outliers have been taken out to better show the increase in the average number of contacts.

    //- .ctn-full(style = 'background: hsl(0,0%,94%); border-bottom: 2px solid hsl(0,0%,80%); border-top: 2px solid hsl(0,0%,70%); opacity: 0.8;')
        .row(style = 'padding-top: .8rem; padding-bottom: .2rem;')
           
            .col.labels: .row(style = '')
                .col(style = 'width: {{100/4}}%; color: green;')
                    h3 {{hoverPop || 0}}
                    p Population of the selected city
                .col(style = 'width: {{100/4}}%; color: black;')
                    h3 {{hoverDegree || 0}} 
                    p Phone contacts, people that called each other
                .col(style = 'width: {{100/4}}%; color: steelblue;')
                    h3(ng-if = 'city.hoverDegree.amountPerc >= 0.1') {{city.hoverDegree.amountPerc || 0 | number:1}}%
                    h3(ng-if = 'city.hoverDegree.amountPerc < 0.1') ~0.1%
                    h3(ng-if = '!city.hoverDegree.amountPerc') 0.0%
                    p People in the selected city with {{hoverDegree}} contacts
                .col(
                        ng-if = 'hoverDegree > 1'
                        style = 'width: {{100/4}}%; color: orange;'
                    )
                    h3 {{city.hoverDegree.clustPerc || 0 | number:1}}%
                    p Probability that each two of the {{hoverDegree}} contacts know each other
                .col(
                        ng-if = 'hoverDegree == 1'
                        style = 'width: {{100/4}}%; color: orange;'
                    )
                    h3 0%
                    p Probability that each two of the {{hoverDegree}} contacts know each other
.ctn(style = 'padding-top: 2.5rem; width: 900px;')
    // DESCRIPTION
    .col-center(style = 'padding: 0 0px;')

        p.lead
            | Do you thrive amongst the crowds of a large metropolis or do you prefer the close community spirit of village life? Today’s widespread use of mobile communication technology enables us to explore 
            b how a person’s social network changes when moving from a small town into a big city
            | , or vice versa.

        
        p Researchers from the MIT SENSEable City Lab and the Santa Fe Institute, New Mexico teamed up to study how cities can affect our social relationships. 


        figure(style = 'width: 48%; float: left; margin: 15px; margin-top: 8px; margin-left: 0px; margin-right: 20px; margin-bottom: 20px;')
            div(style = 'background: hsl(0,0%,90%);')
                include vis-cumulative
            figcaption Graph showing the difference between a linear scaling relation and a super-linear one.

        p Inferring human interaction networks from millions of anonymized mobile phone records in Portugal and UK, their study reveals a fundamental pattern: our social connections scale with city size.

        p The larger the town you live in, the more people you call and the more calls you make. The scaling of this relation is “super-linear,” which means that on average, if you double the size of a town, the sum of phone contacts in the city will more than double – in a mathematically predictable way.

        div(style='clear:both; height:1rem;')

        figure(style = 'width: 48%; float: right; margin: 15px; margin-top: 8px; margin-right: 0px; margin-left: 20px;')
            div(style = 'background: hsl(0,0%,90%);')
                include vis-coef
            figcaption The chance that two phone contacts from one person know each other is on average not affected by city size.
        
        //- h4 The bigger the city more phone contacts

        p Surprisingly, however, the odds that your contacts are also connected with each other is not affected by the size of the town you reside in.

        p This suggests that we instinctively form tight communities, in small towns and large cities alike. But if you live in a small community, your social circle is more or less determined by those who live around you, whereas in a large city you have more freedom to select which of the thousands of people around you will constitute your social circle.

        div(style='clear:both;')

        p The revealed characteristics have important implications for the way information and ideas diffuse throughout a city. And eventually they can help us to understand a broad spectrum of social phenomena such as crime and the spread of diseases.

        p For more information, 
            a(href = '#') see the published paper.

    // FOOTER
    .row.footer(style='padding-top: 2.8rem;')
        .col(style = 'width: {{100/4}}%;')
            h5 Press Material
            p.small
                a(href='#') Download press release<br>
                a(href='img/pressVisualMaterial.zip') Download visual material <br><br>
            p.small 
                | For more information, contact: 
                a(href='mailto:senseable-contacts@mit.edu') senseable-contacts@mit.edu

        .col(style = 'width: {{100/4}}%;')
            h5 Study Authors
            p.small
                a(href='http://web.mit.edu/schlmark/www/') Markus Schlapfer <br>
                a(href='http://www.sebastian-grauwin.com/') Sebastian Grauwin <br>
                | Carlo Ratti - Director

            h5 Data Visualization
            p.small 
                a(href='http://luiscarli.com') Luis Carli

        .col(style = 'width: {{100/4}}%;')
            h5 Collaborators
            p.small.
                Luis M. A. Bettencourt <br>
                Mathias Raschke <br>
                Rob Claxton <br>
                Zbigniew Smoreda <br>
                Geoffrey B. West <br>


        .col(style = 'width: {{100/4}}%;')
            img(src='img/credits.png')
