.wrp-vis(
    ng-controller='coefCtrl as ctrl'
    ng-style = 'wrpStyle()' 
)
    svg(
            vbox = '0 0 {{svgWidth}} {{svgHeight}}'
            preserveAspectRatio = 'xMidYMid meet' 
            ng-if = 'data'
        )
        g.main(ng-attr-transform = 'translate({{margin.l}}, {{margin.t}})')
            include vis-coef-body