//- .container
.wrp-vis.vis0
    svg
        g.main
            g.citiesView
                path.line1
                path.line2
                g.cities
                g.amount
                g.x.axis
                g.y.axis