//- .container
.wrp-vis.vis0
    svg
        defs
            pattern(id="diagonalHatch" patternUnits="userSpaceOnUse" width="4" height="4")
                path(d="M-1,1 l2,-2 M0,4 l4,-4 M3,5 l2,-2" stroke='steelblue')
        g.main
            g.view-sumContacts
                rect.background2
                rect.background
                path.line1
                path.line2
                g.cities
                g.amount
                g.x.axis
                g.y.axis
            g.view-cities
                g.axis.popAxis
                g.axis.degreeAxis
                g.cityTicks
                path.meanDegree

#tpl-city(style='display: none')
    svg
        g.city
            g.wrap
                g.contacts
                    g.connections
                    g.arcs
                path.area
                g.axis
                path.baseLine
