//- .container
.container
    h1 test
    p lalalalalaa
    h2 yo

#vis0
    svg(viewBox='0 0 800 400' preserveAspectRatio='xMidYMid meet')
        g.main
        rect(x=0 y=0 width='800' height='400' fill='gray')

.container
    h1 test
    p lalalalalaa
    h2 yo