.ctn-full(style = '')
    .row.header(style = 'padding-top: 3rem; padding-bottom: 2.5rem;')
        .col.title(style = 'width: 45%;')
            h1 Phone contacts on Portugal cities
            .lead 15 months of telecommunication data
        .col.labels(style = 'width: 55%; float: right; max-width: 800px;'): .row
            .col(style = 'width: {{100/4}}%; color: green;')
                h3 {{hoverPop}}
                p Population size of the selected city
            .col(style = 'width: {{100/4}}%; color: black;')
                h3 {{hoverDegree}} 
                p Number of phone contacts, people that called each other
            .col(style = 'width: {{100/4}}%; color: steelblue;')
                h3(ng-if = 'city.hoverDegree.amountPerc >= 0.1') {{city.hoverDegree.amountPerc || 0 | number:1}}%
                h3(ng-if = 'city.hoverDegree.amountPerc < 0.1') ~0.1%
                h3(ng-if = '!city.hoverDegree.amountPerc') 0%
                p Percentage of people in the selected city with {{hoverDegree}} contacts
            .col(
                    ng-if = 'hoverDegree > 1'
                    style = 'width: {{100/4}}%; color: orange;'
                )
                h3 {{city.hoverDegree.clustPerc || 0 | number:1}}%
                p Chance that each two of the {{hoverDegree}} contacts know each other
            .col(
                    ng-if = 'hoverDegree == 1'
                    style = 'width: {{100/4}}%; color: orange;'
                )
                h3 100%
                p Only one phone contact, he knows himself


.ctn-full(style = 'background: hsl(0,0%,90%)'): .wrp-vis(
    ng-style = 'wrpStyle()' 
)
    svg(
            vbox = '0 0 {{svgWidth}} {{svgHeight}}'
            preserveAspectRatio = 'xMidYMid meet' 
            ng-if = 'data'
        )
        defs
            pattern(id="diagonalHatch" patternUnits="userSpaceOnUse" width="4" height="4")
                path(d="M-1,1 l2,-2 M0,4 l4,-4 M3,5 l2,-2" stroke='steelblue')
            pattern(id="diagonalHatch2" patternUnits="userSpaceOnUse" width="4" height="4")
                path(d="M-1,1 l2,-2 M0,4 l4,-4 M3,5 l2,-2" stroke='orange')
        g.main(ng-attr-transform = 'translate({{margin.l}}, {{margin.t}})')
            include vis-gMain
