path.area(
    ng-attr-d = '{{area(data)}}'
    fill = 'white'
)
path.mean(
    ng-attr-d = '{{line(data)}}'
    fill = 'none' stroke = 'lightgray'
)
text(
    ng-attr-transform = 'translate({{width-165}}, {{height/2+10}})'
    font-size = 12 fill = 'lightgray'
) contacts average
text(
    ng-attr-transform = 'translate({{width-165}}, {{15}})'
    font-size = 12 fill = 'lightgray'
) contacts max
g.cityTicks
    circle(
        ng-repeat = 'city in data'
        ng-attr-cx = '{{x(city.pop)}}'
        ng-attr-cy = '{{y(city.meanDegree)}}'
        r = 2 fill = 'lightgray'
    )

// population axis
g.axis.xAxis(transform = 'translate(0,-18)')
    path(
        ng-attr-d = 'M {{cityWidth/2}},3 v6 h{{width-cityWidth}} v-6'
        stroke = 'green'
    )
    g.tick(
            ng-repeat = "tick in pData.xAxis"
            ng-attr-transform = 'translate({{x(tick.value)}}, 0)'
        )
        path(d = 'M0,3 v6' stroke='green')
        text(
            text-anchor = 'middle' fill='green'
            ng-show = 'ctrl.overlaping(x(tick.value), x(hoverCity.pop), model.popTickSize[0])'
        ) {{tick.text}}
    g.hoverTick(
            ng-if = 'mouse'
            ng-attr-transform = 'translate({{x(hoverCity.pop)}}, 0)'
        )
        path(d = 'M0,3 v6' stroke = 'green')
        text(
            getsize
            ng-model='model.popTickSize'
            text-anchor = 'middle'
            ng-bind-template = 'city pop: {{hoverCity.pop | number:0}}'
            fill = 'green' style='font-weight:600'
        )

// cities
g.cities
    g.city(
        ng-repeat = 'city in citiesData'
        ng-attr-transform = 'translate({{x(city.pop)}},0)'
        ng-show = 'ctrl.overlaping(x(city.pop), x(hoverCity.pop), cityWidth*.8)'
    )
        path.leftArea(ng-attr-d = '{{areaClust(city.degrees)}}')
        path.rightArea(ng-attr-d = '{{areaAmount(city.degrees)}}')
        g.bottomAxis(ng-attr-transform = 'translate(0,{{height+10}})')
            path(
                ng-attr-d = 'M0,6 v-6 h{{-cityWidth*.35}} v6'
                stroke = 'orange' fill = 'none'
            )
            path(
                ng-attr-d = 'M0,6 v-6 h{{cityWidth*.35}} v6'
                stroke = 'steelblue' fill = 'none'
            )

// hover city
g.city.hoverCity(
        ng-if = 'hoverCity'
        ng-attr-transform = 'translate({{x(hoverCity.pop)}},0)'
    )
    path.leftArea(ng-attr-d = '{{areaClust(hoverCity.degrees)}}')
    path.rightArea(ng-attr-d = '{{areaAmount(hoverCity.degrees)}}')
    g.axis.yAxis
        g.tick(
                ng-repeat = "tick in y.ticks(10)"
                ng-attr-transform = 'translate(0, {{y(tick)}})'
            )
            path(d = 'M-3,0 h6' stroke = 'black')
            text(
                ng-show = 'ctrl.overlaping(y(tick), mouse[1], model.degreeTickSize[1])'
                text-anchor = 'start'
                dy = '.32em'
                x = 9
            ) {{x.tickFormat(6, ',.1s')(tick)}}
        g.hoverTick(
                ng-if = 'mouse'
                ng-attr-transform = 'translate(0, {{y(hoverDegree)}})'
            )
            path(d = 'M-3,0 h6' stroke = 'black')
            text(
                getsize
                ng-model='model.degreeTickSize'
                dy = '.32em'
                x = 9
                text-anchor = 'start'
                ng-bind-template = '{{hoverDegree | number:0}} contacts'
        )
    g.bottomAxis(ng-attr-transform = 'translate(0,{{height+10}})')
        path(
            ng-attr-d = 'M0,6 v-6 h{{-cityWidth*.35}} v6'
            stroke = 'orange' fill = 'none'
        )
        path(
            ng-attr-d = 'M0,6 v-6 h{{cityWidth*.35}} v6'
            stroke = 'steelblue' fill = 'none'
        )
rect.hoverTarget(
    ng-mousemove = 'ctrl.mousemove($event)'
    ng-mouseleave = 'ctrl.mouseleave()'
    ng-attr-x = '{{cityWidth/2}}'
    ng-attr-width = '{{width-cityWidth}}' 
    ng-attr-height = '{{height}}'
)